{{- if .Values.ui.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "cybersentinel.fullname" . }}-ui
  labels:
    {{- include "cybersentinel.labels" . | nindent 4 }}
    app.kubernetes.io/component: ui
  {{- with .Values.ui.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.ui.service.type }}
  ports:
    - port: {{ .Values.ui.service.port }}
      targetPort: {{ .Values.ui.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "cybersentinel.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: ui
{{- end }}